.DS_Store
node_modules
/build
/.svelte-kit
/package
*.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel
# Local Netlify folder
.netlify
/static/pagefind
.env

# alternative package managers
bun.lockb
deno.lock

# paraglide branch
/messages/*
!/messages/en.json
/project.inlang/cache
/project.inlang/settings.json
/src/lib/generated
/src/temp
/l10n-cage

