:root {
	/* Font */
	--font-body: 'IBM Plex Sans', sans-serif;
	--font-heading: 'IBM Plex Sans', sans-serif;

	/* Colors */
	--brand: #ff9416;
	--brand-light: #fff5e8;
	--white: white;
	--black: black;
	--text: var(--black);
	--bg: var(--white);
	--bg-subtle: var(--brand-light);

	/* Buttons */
	--btn-bg: var(--brand);
	--btn-hover-bg: #ffa945;
	--btn-active-bg: #e6891d;
	--btn-active-border: var(--black);
	--btn-focus-bg: var(--btn-bg);
	--btn-focus-border: #0097d8;

	--btn-alt-bg: var(--white);
	--btn-alt-hover-bg: #fff5e8;
	--btn-alt-active-bg: #ffead0;
	--btn-alt-active-border: var(--black);
	--btn-alt-focus-bg: var(--btn-alt-bg);
	--btn-alt-focus-border: #0097d8;
}

html,
body {
	height: 100%;
}

html {
	color-scheme: light;
}

body {
	color: var(--text);
	accent-color: var(--brand);
	font-family: var(--font-body);
	font-size: 1.2rem;
	line-height: 1.3;
	line-height: 1.5;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-heading);
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h1,
h2 {
	font-weight: 700;
	font-size: 1.7rem;
}

h3 {
	font-weight: 500;
	font-size: 1.5rem;
}

p {
	margin-bottom: 1.5rem;
}

ul,
ol {
	padding-left: 1.2rem;
}

li {
	margin: 0.3rem 0;
	padding-left: 0.5rem;
}

a {
	color: var(--brand-subtle);
	text-decoration: underline;
}

a:hover {
	color: var(--brand);
}

section:not(:last-child) {
	margin-bottom: 5rem;
}

@media (min-width: 640px) {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	h1,
	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	section:not(:last-child) {
		margin-bottom: 10rem;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-delay: 0ms !important;
		animation-duration: 0ms !important;
	}
}
